sentence-transformers
kafka-python-ng
huggingface-hub
faster-whisper
python-dotenv
transformers
scikit-learn
ctranslate2
jsonschema
setuptools
sentry-sdk
dnspython
requests
pymongo
fastapi
uvicorn
pydash
pandas
pillow
ollama
numpy==1.26.4
torch
spacy
scipy
wheel
pika
sumy
nltk
av
